<div class="row justify-content-center">
  <div class="col-sm-5 col-md-5 col-xl-4 mx-auto">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/Img/cat_icon.jpg" alt="Card image cap" height="300">
      <div class="card-body">
        <h5 class="card-title">PROFILE</h5>
        <table class="table">
          <tr>
            <td>First Name</td>
            <td>{{details.first_name}}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>{{details.last_name}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>{{details.email}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
